.profile_pic1 {
    width: 40%;
    height: 100vh;
    background-color: aquamarine;
    position: relative;
    display: flex;
}
.profile{
    display: flex;
    background-color: black;
}
.event_btns {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 70%;
    justify-content: center !important;
    row-gap: 30px;
}

#DashboardImg{
    width: 35%;
    height: 25%;
    margin-left: 3%;
    margin-top: 3%;
    padding: 0%;
}

#DashboardName{
    text-align: center;
    font-size: 200%;
    width: 50%;
    margin-left: 5%;
    height: 20%;
    margin-top: 13%;
}

#myFile{
    position: absolute;
    top: 2%;
    left: 3%;
    width: 35%;
    opacity: 0;
    padding-top: 33%;
    border-radius: 50%;
}

#myFile:hover{
    cursor: pointer;
}

.profile_pic2 {
    width: 75%;
    height: 89.9vh !important;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new_eventh4 {
    font-size: 42px;
    padding: unset !important;
    margin: 10px !important;
    padding: 10px !important;
    font-family: 'Merriweather';
}
.new_event {
    width: 100%;
    box-shadow: 0px 0px 10px 10px;
    border-radius:20px;
    transition: 0.5s;
    border: none;
}
.new_event:hover {
    background-color: aquamarine;
    cursor:pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(119, 203, 185, 1);
}
.user {
    width: 30%;
    padding: 10%;
    border-radius:50%;
}